@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/materialize/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/materialize/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/materialize/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/materialize/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.brand-logo img{
  padding-top: 5px;
}

.nav-wrapper i{
  color: black;
}

#content{
  position: absolute;
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url("../img/fondo.png");
  background-size: cover;
  opacity: 1;

}

#content h3{
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
}

#mobile-demo li.logo{
  text-align: center;
  margin-top: 32px;
  margin-bottom: 22px;
}

#mobile-demo li:hover i,
#mobile-demo li:hover a{
  color: #B71C1C;
}

#abajo{
  max-width: 95%;
  position: absolute;
  bottom: 10px;
}

#inscribirse{
  height: 50px;
  font-size: 1.25em;
}

#abajo p{
  margin-top: 50px;
  font-size: 1.5em;
  color: white;
}

/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }

 #textarea1:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }

 ul.dropdown-content.select-dropdown li span {
     color: #000;
 }

 ul.dropdown-content.select-dropdown li.disabled span {
     color: rgba(0,0,0,0.3);
 }

 #textarea1:focus {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 1px 0 0 black;
  -moz-box-shadow: 0 1px 0 0 black;
  box-shadow: 0 1px 0 0 black;
}
